:root {
  --background-color: #F3F3F3;
}

body.dark {
  --background-color: #202020;
}

body {
  background-color: var(--background-color);
  width: 100vw;
  height: 100dvh;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}